body {
	background: url("images/IMG_0891.jpg");
	background-size: cover;
	font-family: 'Homenaje', sans-serif;
}

article {
	max-width: 960px;
	margin: 7em auto;
	position: relative;
	text-align: center;
}

h1 {
	font-size: 5em;
	color: #f1fafa;
}

#blog-input {
	border: solid .05em #999999;
	font-family: 'Dosis', sans-serif;
	font-size: 1.5em;
	margin-bottom: 1em;
	padding: .15em 0;
	text-align: center;
	width: 15em;
}

#submit-button {
	font-family: 'Dosis', sans-serif;
	border: solid .1em #bbbbbb;
	font-size: 1.15em;
	color: #888888;
	padding: .15em 1em;
	background-color: #ffffff;
}

ul {
	font-size: 2em;
	list-style: none;
	min-width: 300px;
	margin-top: 2em;
	padding: 0;
}