body {
	background: url("images/IMG_0891.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: 'Vollkorn', serif;
	color: #ffffff;
}

.container {
	max-width: 900px;
	margin: 8em auto;
}

article {
	padding: 5em;
	border: solid .2em #ffffff;
}

h1 {	
	font-size: 4.5em;
	font-weight: bold;
	letter-spacing: .05em;
}

h2 {
	font-size: 2.5em;
	margin-bottom: 1em;
}

#blog-input {
	border: none;
	border-radius: 0;
	color: #976e35;
	margin-bottom: 1em;
	text-align: center;
}

#submit-button {
	border: none;
	border-radius: 0;
	color: #87533b;
}

ul {
	font-size: 1.5em;
	margin-top: 2.5em;
}

li {
	background-color: rgba(179, 155, 122,.5);
	margin: .5em;
	padding: .5em;
}